
h1 {
    color:  #EC7063;
    text-align: center;
    font-size : 4px ;
}
h2 {
    color: #641E16 ;
    font-style: inherit;
    text-align: center;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  ul {
    line-height: 42px;
  }
body {

}

  

 