
h1 {
    color:  #EC7063;
    text-align: center;
    font-size : 45px ;
}
h2 {
    color: #641E16 ;
    font-style: inherit;
    text-align: center;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  ul {
    line-height: 42px;
  }
body {
    background-color: #FCF3CF ;
}
strong {
    font-style : italic ;
    font-weight : normal ;
}
em {
    font-style : normal ;
    font-weight : bold !important;
}
